---
layout: layout.njk
title: "dakimakura"
description: "dakimakura - 개인 블로그"
showNavigation: false
css: "/style.css"
lang: "kr"
permalink: "/"
---

<!-- 빈 화면 -->
<style>
header h1 {
  display: none;
}
</style>